@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  gap: 10px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}

.border-primary {
  border-color: #1e6091;
}

.border-secondary {
  border-color: #1a759f;
}

.text-secondary-light-7-hover:hover {
  color: rgb(186.3, 213.6, 226.2);
}

.text-white {
  color: #ffffff;
}

 .navbar-blue .container, .navbar-blue, .card-1-primary-drk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

 .card-1-primary-drk {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  flex-direction: column;
  padding: 10px;
}
 .card-1-primary-drk .card-title {
  font-size: 2rem;
}
 .card-1-primary-drk .card-body {
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-1-primary-drk {
  background-color: #184e77;
}

.btn-yellow {
  text-align: center;
  border: none;
  background-color: #fdd835;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1);
  margin: 5px;
}
.btn-yellow:hover {
  transform: scale(1.1);
}
.btn-yellow:hover {
  background-color: rgb(253.5, 225.75, 103.5);
}

 .navbar-blue .container, .navbar-blue, .card-1-primary-drk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

 .navbar-blue {
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .navbar-blue .navbar-text {
  font-size: 1.5rem;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}

.navbar-blue {
  background-color: #1e88e5;
}

.ml-1 {
  margin-left: 10px;
}

.border-w-lg {
  border-width: 3px;
}

.border-s-s {
  border-style: solid;
}

.font-md {
  font-size: 1rem;
}

.font-styl-1 {
  font-family: "Roboto", sans-serif;
}

.font-styl-3 {
  font-family: "Edu VIC WA NT Hand Pre", cursive;
}

.font-styl-4 {
  font-family: "Oswald", sans-serif;
}

.cursor-d:hover {
  cursor: default;
}

.cursor-p:hover {
  cursor: pointer;
}