@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  gap: 10px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

span {
  padding: 5px;
  border-radius: 2px;
  font-size: 13px;
  display: inline-block;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}

.bg-primary-drk {
  background-color: #184e77;
}

.border-primary {
  border-color: #1e6091;
}

.text-primary-light-8 {
  color: rgb(210, 223.2, 233);
}

.text-secondary {
  color: #1a759f;
}

.border-secondary {
  border-color: #1a759f;
}

.text-secondary-light-5-hover:hover {
  color: rgb(140.5, 186, 207);
}

.bg-secondary-light-6 {
  background-color: rgb(163.4, 199.8, 216.6);
}

.text-secondary-light-7-hover:hover {
  color: rgb(186.3, 213.6, 226.2);
}

.bg-secondary-light-7 {
  background-color: rgb(186.3, 213.6, 226.2);
}

.text-secondary-lgt-hover:hover {
  color: #168aad;
}

.text-white {
  color: #ffffff;
}

 .navbar-blue .container, .navbar-secondary .container, .navbar-blue, .navbar-secondary, .card-1-primary-drk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

 .card-1-primary-drk {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  flex-direction: column;
  padding: 10px;
}
 .card-1-primary-drk .card-title {
  font-size: 2rem;
}
 .card-1-primary-drk .card-body {
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-1-primary-drk {
  background-color: #184e77;
}

.btn-primary {
  text-align: center;
  border: none;
  background-color: #1e6091;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1);
  margin: 5px;
}
.btn-primary:hover {
  transform: scale(1.1);
}
.btn-primary:hover {
  background-color: rgb(38.7428571429, 123.9771428571, 187.2571428571);
}

.btn-secondary-border {
  text-align: center;
  border: solid 2px #1a759f;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1);
  margin: 5px;
  color: #1a759f;
}
.btn-secondary-border:hover {
  transform: scale(1.1);
}
.btn-secondary-border:hover {
  background-color: rgb(41.4243243243, 163.6594594595, 220.0756756757);
  color: white;
}

.btn-yellow {
  text-align: center;
  border: none;
  background-color: #fdd835;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1);
  margin: 5px;
}
.btn-yellow:hover {
  transform: scale(1.1);
}
.btn-yellow:hover {
  background-color: rgb(253.5, 225.75, 103.5);
}

 .navbar-blue .container, .navbar-secondary .container, .navbar-blue, .navbar-secondary, .card-1-primary-drk {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

 .navbar-blue, .navbar-secondary {
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
 .navbar-blue .navbar-text, .navbar-secondary .navbar-text {
  font-size: 1.5rem;
}
ul {
  list-style: none;
}
ul li {
  list-style: none;
}

.navbar-secondary {
  background-color: #1a759f;
}

.navbar-blue {
  background-color: #1e88e5;
}

.w-3 {
  width: 300px;
}

.w-full {
  width: 100%;
}

.h-1 {
  height: 100px;
}

.h-3 {
  height: 300px;
}

.p-1 {
  padding: 10px;
}

.pb-4 {
  padding-bottom: 60px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 80px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 40px;
}

.ml-1 {
  margin-left: 10px;
}

.border-w-lg {
  border-width: 3px;
}

.border-s-s {
  border-style: solid;
}

.font-md {
  font-size: 1rem;
}

.font-xxl {
  font-size: 3rem;
}

.font-styl-1 {
  font-family: "Roboto", sans-serif;
}

.font-styl-3 {
  font-family: "Edu VIC WA NT Hand Pre", cursive;
}

.font-styl-4 {
  font-family: "Oswald", sans-serif;
}

.br {
  border-radius: 20px;
}

.dis-f {
  display: flex;
}

.gap-5 {
  gap: 25px;
}

.cursor-d:hover {
  cursor: default;
}

.cursor-p:hover {
  cursor: pointer;
}