@each $key, $val in $colors{
    //Text color
    .text-#{$key}{
        color: $val;
    }
    .text-#{$key}-hover{
        &:hover{
            color: $val;
        }
    }

    //Background color
    .bg-#{$key}{
        background-color: $val;
    }
    .bg-#{$key}-hover{
        &:hover{
            background-color: $val;
        }
    }

    //Border color
    .border-#{$key}{
        border-color: $val;
    }
    .border-#{$key}-hover{
        &:hover{
            border-color: $val;
        }
    }

    @if($val != black and $val != white){
        @for $i from 1 through 9{
            //light variation
            .text-#{$key}-light-#{$i}{
                color: mix(white, $val, $i * 10);
            }
            .text-#{$key}-light-#{$i}-hover{
                &:hover{
                    color: mix(white, $val, $i * 10);
                }
            }

            .bg-#{$key}-light-#{$i}{
                background-color: mix(white, $val, $i * 10);
            }
            .bg-#{$key}-light-#{$i}-hover{
                &:hover{
                    background-color: mix(white, $val, $i * 10);
                }
            }

            .border-#{$key}-light-#{$i}{
                border-color: mix(white, $val, $i * 10);
            }
            .border-#{$key}-light-#{$i}-hover{
                &:hover{
                    border-color: mix(white, $val, $i * 10);
                }
            }

            //dark variation
            .text-#{$key}-dark-#{$i}{
                color: mix(black, $val, $i * 10)
            }
            .text-#{$key}-dark-#{$i}-hover{
                &:hover{
                    color: mix(black, $val, $i * 10)
                }
            }

            .bg-#{$key}-dark-#{$i}{
                background-color: mix(black, $val, $i * 10);
            }
            .bg-#{$key}-dark-#{$i}-hover{
                &:hover{
                    background-color: mix(black, $val, $i * 10);
                }
            }

            .border-#{$key}-dark-#{$i}{
                border-color: mix(black, $val, $i * 10);
            }
            .border-#{$key}-dark-#{$i}-hover{
                &:hover{
                    border-color: mix(black, $val, $i * 10);
                }
            }
        }
    }
}

