@use "sass:math";

// "padding-top": (),
// "padding-bottom": (),
// "padding-left": (),
// "padding-right": (),
// "margin": (),
// "margin-top": (),
// "margin-bottom": (),
// "margin-left": (),
// "margin-right": (),
// "display": (),
// "opasity": (),

$utilities: (
    //TODO: ============================== SIZE =============================//

    //! Witdh ==================== //
    "width": (
        "prefix": "w",
        "values": (
            "0": 0,
            "deafult": 100px,
            "1": 100px,
            "2": 200px,
            "3": 300px,
            "4": 400px,
            "5": 500px,
            "full": 100%,
            "vw": 100vw,
        ),
    ),
    //! Height ==================== //
    "height": (
        "prefix": "h",
        "values": (
            "0": 0,
            "deafult": 100px,
            "1": 100px,
            "2": 200px,
            "3": 300px,
            "4": 400px,
            "5": 500px,
            "vh": 100vh,
        ),
    ),

    //TODO: ============================= PADDING ===========================//

    //! Padding ==================== //
    "padding": (
        "prefix": "p",
        "values": (
            "0": 0,
            "0-5": math.div($base-padding, 2),
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        ),
    ),
    //* Top ==================== //
    "padding-top": (
        "prefix": "pt",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        ),
    ),
    //* Bottom ==================== //
    "padding-bottom": (
        "prefix": "pb",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        ),
    ),
    //* Left ==================== //
    "padding-left": (
        "prefix": "pl",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        ),
    ),
    //* Right ==================== //
    "padding-right": (
        "prefix": "pr",
        "values": (
            "0": 0,
            "1": $base-padding,
            "2": $base-padding * 2,
            "3": $base-padding * 4,
            "4": $base-padding * 6,
            "5": $base-padding * 8,
        ),
    ),

    //TODO: ============================= MARGIN ============================//

    //! Margin ==================== //
    "margin": (
        "prefix": "m",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
        ),
    ),
    //* Top ==================== //
    "margin-top": (
        "prefix": "mt",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
        ),
    ),
    //* Bottom ==================== //
    "margin-bottom": (
        "prefix": "mb",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
        ),
    ),
    //* Left ==================== //
    //! Left
    "margin-left": (
        "prefix": "ml",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
        ),
    ),
    //* Right ==================== //
    "margin-right": (
        "prefix": "mr",
        "values": (
            "0": 0,
            "1": $base-margin,
            "2": $base-margin * 2,
            "3": $base-margin * 4,
            "4": $base-margin * 6,
            "5": $base-margin * 8,
        ),
    ),
    //TODO: ============================= BORDER ============================//

    //! Border Width ==================== //
    "border-width": (
        "prefix": "border-w",
        "values": (
            "sm": math.div($base-border-width, 2),
            "md": $base-border-width,
            "lg": $base-border-width * 1.5,
            "xl": $base-border-width * 2,
            "xxl": $base-border-width * 2.5,
        ),
    ),
    //* Top ==================== //
    "border-top-width": (
        "prefix": "border-wt",
        "values": (
            "sm": math.div($base-border-width, 2),
            "md": $base-border-width,
            "lg": $base-border-width * 1.5,
            "xl": $base-border-width * 2,
            "xxl": $base-border-width * 2.5,
        ),
    ),
    //* Bottom ==================== //
    "border-bottom-width": (
        "prefix": "border-wb",
        "values": (
            "sm": math.div($base-border-width, 2),
            "md": $base-border-width,
            "lg": $base-border-width * 1.5,
            "xl": $base-border-width * 2,
            "xxl": $base-border-width * 2.5,
        ),
    ),
    //* Left ==================== //
    "border-left-width": (
        "prefix": "border-wl",
        "values": (
            "sm": math.div($base-border-width, 2),
            "md": $base-border-width,
            "lg": $base-border-width * 1.5,
            "xl": $base-border-width * 2,
            "xxl": $base-border-width * 2.5,
        ),
    ),
    //* Right ==================== //
    "border-right-width": (
        "prefix": "border-wr",
        "values": (
            "sm": math.div($base-border-width, 2),
            "md": $base-border-width,
            "lg": $base-border-width * 1.5,
            "xl": $base-border-width * 2,
            "xxl": $base-border-width * 2.5,
        ),
    ),
    //! Border Style ==================== //
    "border-style": (
        "prefix": "border-s",
        "values": (
            "deafult": solid,
            "n": none,
            "s": solid,
            "das": dashed,
            "dot": dotted,
            "dou": double,
            "g": groove,
            "r": ridge,
            "in": inset,
            "out": outset,
        ),
    ),
    //* Top ==================== //
    "border-top-style": (
        "prefix": "border-st",
        "values": (
            "deafult": solid,
            "n": none,
            "s": solid,
            "das": dashed,
            "dot": dotted,
            "dou": double,
            "g": groove,
            "r": ridge,
            "in": inset,
            "out": outset,
        ),
    ),
    //* Bottom ==================== //
    "border-bottom-style": (
        "prefix": "border-sb",
        "values": (
            "deafult": solid,
            "n": none,
            "s": solid,
            "das": dashed,
            "dot": dotted,
            "dou": double,
            "g": groove,
            "r": ridge,
            "in": inset,
            "out": outset,
        ),
    ),
    //* Left ==================== //
    "border-left-style": (
        "prefix": "border-sl",
        "values": (
            "deafult": solid,
            "n": none,
            "s": solid,
            "das": dashed,
            "dot": dotted,
            "dou": double,
            "g": groove,
            "r": ridge,
            "in": inset,
            "out": outset,
        ),
    ),
    //* Right ==================== //
    "border-right-style": (
        "prefix": "border-sr",
        "values": (
            "deafult": solid,
            "n": none,
            "s": solid,
            "das": dashed,
            "dot": dotted,
            "dou": double,
            "g": groove,
            "r": ridge,
            "in": inset,
            "out": outset,
        ),
    ),

    //TODO: ========================== FONT (TEXT) ==========================//

    //* Font Size ==================== //
    "font-size": (
        "prefix": "font",
        "values": (
            "sm": $font-size-sm,
            "md": $font-size,
            "lg": $font-size-lg,
            "xl": $font-size-xl,
            "xxl": $font-size-xxl,
        ),
    ),
    //* Font Family ==================== //
    "font-family": (
        "prefix": "font-styl",
        "values": (
            "1": $font-roboto,
            "2": $font-edu-hand,
            "3": $font-edu-hand-pre,
            "4": $font-oswald,
            "5": $font-nunito,
        ),
    ),
    //* Font Weight ==================== //
    "font-weight": (
        "prefix": "font-w",
        "values": (
            "n": normal,
            "b": bold,
            "l": lighter,
            "br": bolder,
        ),
    ),
    //* Text Decoration ==================== //
    "text-decoration": (
        "prefix": "text-dec",
        "values": (
            "n": none,
            "u": underline,
            "o": overline,
            "l": line-through,
        ),
    ),
    //* Text Align ==================== //
    "text-align": (
        "prefix": "text-align",
        "values": (
            "l": left,
            "r": right,
            "c": center,
            "j": justify,
            "s": start,
            "e": end,
            "init": inherit,
            "inal": initial,
            "u": unset,
        ),
    ),

    //TODO: ============================= OTHERS ============================//

    //! Opasity ==================== //
    "opacity": (
        "prefix": "op",
        "values": (
            "10": 0.1,
            "20": 0.2,
            "30": 0.3,
            "40": 0.4,
            "50": 0.5,
            "60": 0.6,
            "70": 0.7,
            "80": 0.8,
            "90": 0.9,
            "100": 1,
        ),
    ),
    //! Border Radius ==================== //
    "border-radius": (
        "prefix": "br",
        "values": (
            "deafult": $base-radius,
            "none": 0,
            "xs": math.div($base-radius, 4),
            "sm": math.div($base-radius, 2),
            "lg": $base-radius * 2,
            "xl": $base-radius * 3,
            "xxl": $base-radius * 4,
            "full": 100%,
        ),
    ),
    //! Display ==================== //
    "display": (
        "prefix": "dis",
        "values": (
            "n": none,
            "f": flex,
            "b": block,
            "i": inline,
            "i-b": inline-block,
        ),
    ),
    //! Flex Direction ==================== //
    "flex-direction": (
        "prefix": "f-direc",
        "values": (
            "r": row,
            "r-rev": row-reverse,
            "c": column,
            "c-rev": column-reverse,
        ),
    ),
    //! Justify Content ==================== //
    "justify-content": (
        "prefix": "justify",
        "values": (
            "deafult": center,
            "str": flex-start,
            "end": flex-end,
            "c": center,
            "s-bet": space-between,
            "s-ard": space-around,
            "s-evl": space-evenly,
        ),
    ),
    //! Align Items ==================== //
    "align-items": (
        "prefix": "align",
        "values": (
            "deafult": center,
            "str": flex-start,
            "end": flex-end,
            "s": stretch,
            "c": center,
            "b": baseline,
        ),
    ),
    //! Gap ==================== //
    "gap": (
        "prefix": "gap",
        "values": (
            "deafult": $base-gap,
            "0": 0px,
            "1": $base-gap * 1,
            "2": $base-gap * 2,
            "3": $base-gap * 3,
            "4": $base-gap * 4,
            "5": $base-gap * 5,
            "6": $base-gap * 6,
            "7": $base-gap * 7,
        ),
    ),
    //! Cursore ==================== //
    "cursor": (
        "prefix": "cur",
        "values": (
            //*Basic cursors
            "d": default,
            "p": pointer,
            "text": text,
            "nt-a": not-allowed,
            "m": move,
            //*Interactive/drag and drop
            "g": grab,
            "ging": grabbing,
            //*Standby state
            "w": wait,
            "prg": progress,
            //*Additionally
            "n": none,
            "h": help,
            "c": crosshair,
        ),
    ),
);

@each $property, $map in $utilities{
    $prefix: map-get($map, "prefix");
    $values: map-get($map, "values");

    @each $k, $v in $values{
        @if($property != "cursor"){
            @if($k == "deafult"){
                .#{$prefix}{
                    #{$property}: $v;
                }
            } 
            @else{
                .#{$prefix}-#{$k}{
                    #{$property}: $v;
                }
            }
        }
        @else{
            .#{$prefix}-#{$k}{
                &:hover{
                    #{$property}: $v;
                }
            }
        }
    }
}