//*variables
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$error: #e53935 !default;
$info: #fdd835 !default;
$primary-drk: #184e77 !default;
$primary: #1e6091 !default;
$secondary: #1a759f !default;
$secondary-lgt: #168aad !default;
$lgt: #34a0a4 !default;

//map

$colors: (
  "error": $error,
  "info": $info,
  "primary-drk": $primary-drk,
  "primary": $primary,
  "secondary": $secondary,
  "secondary-lgt": $secondary-lgt,
  "lgt": $lgt,
  "red":    #e53935,
  "yellow": #fdd835,
  "orange": #fb8c00,
  "green":  #43a047,
  "salat":  #7cb342,
  "aqua":   #00acc1,
  "blue":   #1e88e5,
  "purple": #8e24aa,
  "pink":   #ec407a,
  "gray":   #546e7a,
  "brown":  #8d6e63,
  "black":  #000000,
  "white":  #ffffff
);

//todo: Map
// @debug map-get($colors, "error"); /*find color (or choose)*/
// @debug map-has-key($colors, "orange"); /*true*/
// @debug map-has-key($colors, "nonona"); /*false*/
// @debug map-remove($colors, "green");
// @debug map-has-key($colors, "green"); /*true cuz map-remove create another man without green but main map (colors) have green*/
// @debug map-merge($colors, ("pink": pink,)); /*it also create phantom map*/

// .test-button{
//   background-color: map-get($colors, "brown");
// }

$font-size: 1rem !default;
$font-size-sm: $font-size  * 0.75 !default;
$font-size-lg: $font-size * 1.5 !default;
$font-size-xl: $font-size  * 2 !default;
$font-size-xxl: $font-size  * 3 !default;

$font-roboto: "Roboto", sans-serif !default;
$font-edu-hand: "Edu SA Hand", cursive;
$font-edu-hand-pre: "Edu VIC WA NT Hand Pre", cursive !default;
$font-oswald: "Oswald", sans-serif !default;
$font-nunito: "Nunito", sans-serif !default;

$base-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !default;
$dark-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !default;

$base-padding: 10px !default;
$base-margin: 10px !default;
$base-radius: 20px !default;
$base-border-width: 2px !default;
$base-gap: 5px !default;

$grid-colums: 12 !default;