//*variables
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$error: #e53935;
$info: #fdd835;
$primary-drk: #184e77;
$primary: #1e6091;
$secondary: #1a759f;
$secondary-lgt: #168aad;
$lgt: #34a0a4;

//map

$colors: (
  "error": $error,
  "info": $info,
  "primary-drk": $primary-drk,
  "primary": $primary,
  "secondary": $secondary,
  "secondary-lgt": $secondary-lgt,
  "lgt": $lgt,
  "red":    #e53935,
  "yellow": #fdd835,
  "orange": #fb8c00,
  "green":  #43a047,
  "salat":  #7cb342,
  "aqua":   #00acc1,
  "blue":   #1e88e5,
  "purple": #8e24aa,
  "pink":   #ec407a,
  "gray":   #546e7a,
  "brown":  #8d6e63,
  "black":  #000000,
  "white":  #ffffff
);

//todo: Map
// @debug map-get($colors, "error"); /*find color (or choose)*/
// @debug map-has-key($colors, "orange"); /*true*/
// @debug map-has-key($colors, "nonona"); /*false*/
// @debug map-remove($colors, "green");
// @debug map-has-key($colors, "green"); /*true cuz map-remove create another man without green but main map (colors) have green*/
// @debug map-merge($colors, ("pink": pink,)); /*it also create phantom map*/

// .test-button{
//   background-color: map-get($colors, "brown");
// }

$font-size: 1rem;
$font-size-sm: $font-size  * 0.75;
$font-size-lg: $font-size * 1.5;
$font-size-xl: $font-size  * 2;
$font-size-xxl: $font-size  * 3;

$font-roboto: "Roboto", sans-serif;
$font-edu-hand: "Edu SA Hand", cursive;
$font-edu-hand-pre: "Edu VIC WA NT Hand Pre", cursive;
$font-oswald: "Oswald", sans-serif;
$font-nunito: "Nunito", sans-serif;

$base-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$dark-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$base-padding: 10px;
$base-margin: 10px;
$base-radius: 20px;
$base-border-width: 2px;
$base-gap: 5px;

$grid-colums: 12;