//*variables
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$error: #b03a3a;
$info: #b09a3a;
$primary-drk: #03045e;
$primary: #0077b6;
$secondary: #00b4d8;
$secondary-lgt: #90e0ef;
$lgt: #caf0f8;

//map

$colors: (
  "error": $error,
  "info": $info,
  "primary-drk": $primary-drk,
  "primary": $primary,
  "secondary": $secondary,
  "secondary-lgt": $secondary-lgt,
  "lgt": $lgt,
  "red": red,
  "yellow": yellow,
  "orange": orange,
  "green": green,
  "salat": #5dab09,
  "purple": purple,
  "pink": pink,
  "gray": gray,
  "brown": brown,
  "black": black,
  "white": white,
);

//todo: Map
// @debug map-get($colors, "error"); /*find color (or choose)*/
// @debug map-has-key($colors, "orange"); /*true*/
// @debug map-has-key($colors, "nonona"); /*false*/
// @debug map-remove($colors, "green");
// @debug map-has-key($colors, "green"); /*true cuz map-remove create another man without green but main map (colors) have green*/
// @debug map-merge($colors, ("pink": pink,)); /*it also create phantom map*/

// .test-button{
//   background-color: map-get($colors, "brown");
// }


$base-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$dark-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

$font-size: 1rem;
$font-size-sm: $font-size  * 0.75;
$font-size-lg: $font-size * 1.5;
$font-size-xl: $font-size  * 2;
$font-size-xxl: $font-size  * 3;

$font-roboto: "Roboto", sans-serif;
$font-edu-hand: "Edu SA Hand", cursive;
$font-edu-hand-pre: "Edu VIC WA NT Hand Pre", cursive;
$font-oswald: "Oswald", sans-serif;

$base-padding: 10px;
$base-margin: 10px;
$base-radius: 20px;

*{
  margin: 0px;
  padding: 0px;
}