@mixin btn($border-prorerty: none, $bg-col: #2a6185){
    text-align: center;
    border: $border-prorerty;
    background-color: $bg-col;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-radius;
    box-shadow: $base-box-shadow;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1);
    margin: 5px;
    &:hover{
        background-color: lighten($bg-col, 15);
        transform: scale(1.1);
    }
}

.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn($bg-col: $val);
    }
    .btn-#{$key}-border{
        @include btn($border-prorerty: solid 3px $val);
    }
}