@mixin btn($border-prorerty: none, $bg-col: white){
    text-align: center;
    border: $border-prorerty;
    background-color: $bg-col;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-radius;
    box-shadow: $base-box-shadow;
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1);
    margin: 5px;
    &:hover{
        transform: scale(1.1);
    }
}

.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn($bg-col: $val);
        &:hover{
            background-color: lighten($val, 10);
        }
    }
    .btn-#{$key}-border{
        @include btn($border-prorerty: solid 2px $val);
        color: $val;
        &:hover{
            background-color: lighten($val, 15);
            color: white;
        }
    }
}