@use 'sass:math'; 

.card{
    width: auto;
    border-radius: $base-radius;
    box-shadow: $base-box-shadow;
    font-size: $font-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: map-get($colors, "primary");
    }
    .card-info{
        width: auto;
        border: 2px solid map-get($colors, "secondary");
        border-radius: $base-radius;
        color: $primary;
        font-size: $font-size-sm;
        padding: 20px;
    }
    button{
        margin-top: 10px;
        width: 110px;
        padding: 9px;
        cursor: pointer;
        border-radius: math.div($base-radius , 2);
        border: none;
        background: map-get($colors, "primary-drk");
        box-shadow: $dark-box-shadow;
        color: map-get($colors, "secondary-lgt");
        transition: 0.2s;
        transform: scale(1);
        display: inline-block;
    }
    button:hover{
        background: map-get($colors, "secondary");
        color: map-get($colors, "aqua");
        transform: scale(1.15);
    }
}

//todo: @debug 'Hello degub!';
//todo: @debug math.div(20, 2); /*Bölmə*/
//todo: @debug math.floor(2.6); /*Yuvarlaqlaşdırma*/
//todo: @debug math.max(20, 2, 3, 4, 1); /*Max*/
//todo: @debug math.min(20, 2, 3, 4, 1); /*Min*/