@use 'sass:math'; 

%flex-layout{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.card-1{
    @extend %flex-layout;
    box-shadow: $base-box-shadow;
    border-radius: $base-radius;
    flex-direction: column;
    padding: $base-padding;
    .card-title{
        font-size: $font-size-xl;
    }
    .card-body{
        border-radius: $base-radius;
        padding: $base-padding;
        box-shadow: $base-box-shadow;
    }
}

@each $key, $val in $colors{
    .card-1-#{$key}{
        @extend .card-1;
        background-color: $val;
    }
}

//todo: @debug 'Hello degub!';
//todo: @debug math.div(20, 2); /*Bölmə*/
//todo: @debug math.floor(2.6); /*Yuvarlaqlaşdırma*/
//todo: @debug math.max(20, 2, 3, 4, 1); /*Max*/
//todo: @debug math.min(20, 2, 3, 4, 1); /*Min*/